body {
  background-color: white;
}

.bigbox {
  position: fixed;
  margin-left: 49px;
  margin-top: 29px;
  width: 900px;
  height: 630px;
  object-fit: contain;
  z-index: -100;
  border: 0.1px solid black;
}

.allboxes {
  position: fixed;
  margin-left: 50px;
  margin-top: 30px;
  width: 1000px;
  height: 900px;
  object-fit: contain;
  z-index: -100;
}

.box {
  display: inline-block;
  margin: -2px;
  border: 0.1px solid black;
  width: 225px;
  height: 315px;
  z-index: -100;
}

.image{
  position: fixed;
  margin-left: 200px;
  margin-top: 50px;
  display: inline-block;
  z-index: 20;
  /* background-color: red; */
  width: 20%;
  height:20%;

}

.image img {
  width: 100%;

}

.text-book {
  position: fixed;
  font-size: 2em;
  margin-left: 290px;
  margin-top: 400px;
  display: inline-block;
  width: 14%;
  z-index: 20;
  font-family: 'Iskry';
}

.text-description {
  position: fixed;
  font-size: 1em;
  margin-left: 60px;
  margin-top: 350px;
  display: inline-block;
  width: 14%;
  z-index: 20;
  overflow: hidden;
}

.bookquote {
  position: fixed;
  font-size: 1em;
  margin-left: 520px;
  margin-top: 170px;
  display: inline-block;
  width: 13%;
  z-index: 20;
}

.moviequote {
  position: fixed;
  font-size: 1em;
  margin-left: 510px;
  margin-top: 350px;
  display: inline-block;
  width: 13%;
  z-index: 20;
}




@media print {

  .rotate {
    transform: rotate(180deg);
    transform-origin: center center;

  }
    .no-print, .no-print *
    {
        display: none !important;
    }
}
